.toc .toggleNav ul li a {
    font-size: 18px !important;
  }

li a {
  font-size:18px;
}

.mainBlock {
  margin-left: 40px;
  margin-right: 40px;

}

.tableofcontents {
  text-align: left;
}

.border-bottom-3px {
  border-bottom: : 3px solid black;
}
